body{
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    padding: 20px;
}

.container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
}

.box{
    background-color: steelblue;
    color: white;
    padding: 30px;
    text-align: center;
    font-size: 20px;
}

.box:hover{
    background-color: blue;
    box-shadow: 20px 20px 20px 10px black;
    padding: 40px;
}


h1{
    color: #2c3e50;
}
